<div class="hero-section">
    <h1 class="index-title">Golf Buddy</h1>
</div>
<p class='mapsearchbar-label'>Please enter a location</p>
<input class='mapsearchbar' id="autocomplete" type="text" size="10">
<div id="map">
  LOADING
</div>
