.header-title {
  border: 2px solid red;
  border-radius: 50%;
}

#map-display {
  height: 300px;
  width: 75%;
  border: 2px solid blue;
  margin-left: 13%;
  border-radius: 10px;
}

#sign #sign-up a {
  color: red;
  border-radius: 50%;
  margin-right: 2px;
  background-position: center;
  font-weight: bold;
}

 p#sign-up{
   margin-top: 20%;
 }

.profile-button {
  color: blue;
  font-weight: bold;
}

.index-title {
  color: #fff;
  text-shadow: 2px 5px 1px yellow, 10px 5px 20px #fff, 0 0 500px #fff;
  font-size: 4em;
  font-family: 'Merriweather', serif;
  background: -webkit-linear-gradient(red, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.index-title:hover {
  font-size: 4.5em;
}

.home-link {
  float: left;
  margin-left: 35%;
}

.mapsearchbar-label {
  margin: 0;
  padding: 0;
}

.mapsearchbar {
  border: 2px solid black;
}
