.header-title {
  border: 2px solid red;
  border-radius: 50%;
}

#map {
  height: 50%;
  width: 75%;
  border: 2px solid blue;
  margin-left: 13%;
}

#sign #sign-up a {
  color: red;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 80%;
  margin-right: 2px;
}

.index-title {
  color: #fff;
  text-shadow: 2px 5px 1px yellow, 10px 5px 20px #fff, 0 0 500px #fff;
  font-size: 5em;
  font-family: 'Merriweather', serif;
  background: -webkit-linear-gradient(red, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:2% 0 0 15%;
}

.hero-section {
  background: url("golfpics/header3.jpg") 50% no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 35vh;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.mapsearchbar-label {
  margin: 0;
  padding: 0;
}

.mapsearchbar {
  border: 2px solid black;
}
