.sign-up-container {
  width: 50%;
  margin-left: 25%;
  border-radius: 40px;
  padding-top: 10px;
  background-color: #f2f2f2;
  background-size: strech;
}
.selected-stroke-container {
  width: 20%;
  margin-left: 40%;
  border-radius: 40px;
  padding-top: 10px;
  background-color: #f2f2f2;
  background-size: strech;
}
.selected-stroke-container2 {
  width: 20%;
  margin-left: 50%;
  border-radius: 40px;
  padding-top: 10px;
  background-color: #f2f2f2;
  background-size: strech;
}

.field-container {
  padding:0 10%;
  padding-bottom: 5%;

}

.field {
  border-radius: 40%;
  color: red;
}

input#user_first_name.field {
  border-radius: 45px;
  width: 80%;
  margin-left: 10%;
  height: 50px;
  padding: 5px 0;
  text-align: center;
}

input#user_last_name {
  border-radius: 45px;
  width: 80%;
  margin-left: 10%;
  height: 50px;
  padding: 5px 0;
  text-align: center;
}
div.field {
  border-radius: 45px;
  text-align: center;
}

input#user_email {
  border-radius: 45px;
  width: 80%;
  margin-left: 10%;
  height: 50px;
  padding: 5px 0;

  text-align: center;
}

input#user_handicap {
  border-radius: 45px;
  width: 80%;
  margin-left: 10%;
  height: 50px;
  padding: 5px 0;


  text-align: center;
}

input#user_password {
  border-radius: 45px;
  width: 80%;
  margin-left: 10%;
  height: 50px;
  padding: 5px 0;

  text-align: center;
}

input#user_password_confirmation {
  border-radius: 45px;
  width: 80%;
  margin-left: 10%;
  height: 50px;
  padding: 5px 0;
  text-align: center;
}

.actions {
  margin-left: 40%;
  padding-top: 15px;
  border-radius: 30%:
}

label {
  text-align: center;
  font-weight: bold;

  padding: 0;
}

.sign-up {

}

div.circle {
  margin-left: 90%;
  padding: 0;
}

.sign-up-title {
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  margin-bottom: 5%;
  color: blue;
}

#em {
  text-align: center;
}
